<section
  id="wrapper"
  class="login-register login-sidebar"
  style="background-image: url(../assets/images/background/istalogo.jpg)"
>
  <div class="login-box card">
    <div class="card-body">
      <form
        class="form-horizontal form-material"
        autocomplete="off"
        [formGroup]="loginForm"
        (ngSubmit)="login()"
        id="loginform"
      >
        <div class="form-group m-t-40">
          <div class="col-xs-12 text-center">
            <img class="img" src="./assets/images/ista2.jpg" alt="Ista" />
          </div>

          <div class="col-xs-12">
            <input
              class="form-control"
              type="text"
              placeholder="Username"
              formControlName="username"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input
              class="form-control"
              type="password"
              placeholder="Password"
              formControlName="password"
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <div class="checkbox checkbox-primary pull-left p-t-0">
              <input
                id="checkbox-signup"
                type="checkbox"
                class="filled-in chk-col-light-blue"
                formControlName="remember"
              />
              <label for="checkbox-signup"> Recuerdame </label>
            </div>
          </div>
        </div>

        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button
              class="btn btn-primary btn-lg btn-block text-uppercase btn-rounded"
              type="submit"
            >
              Iniciar Sesión
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
