<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center">Convocatorias</h4>
        <div class="row">
          <div class="col-md-2">
            Buscar por fecha
            <br>
            <input [matDatepicker]="myDatepicker" [formControl]="fechaControl" class="form-control" style="display: block" name="fechaF" required />
            <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker [touchUi]="true" color="dark" #myDatepicker></mat-datepicker>
          </div>

          <div class="col-md-5">
            Buscar por carrera
            <br>
            <select class="form-control" [(ngModel)]="carreraFiltro">
              <option [ngValue]="undefined">CARRERA (TODAS)</option>
              <option *ngFor="let carrera of carreras" [ngValue]="carrera.nombre">
                {{ carrera.nombre }}
              </option>
            </select>
          </div>
          <div class="col-md-2">
            <br>
            <button class="boton" mat-raised-button color="primary" (click)="filtarConvocatoriasPorFechaCarrera()">
              <i class="mdi mdi-magnify"></i>
              Buscar
            </button>
          </div>
          <div class="col-md-3 text-right">
            <button class="btn" (click)="cargarConvocatoriasDefault()">
              Mostrar Todas
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6" *ngFor="let convocatoria of convocatorias">
            <!-- Card -->
            <div class="card border-dark">
              <img class="card-img-top img-responsive" src="../assets/images/ista2.jpg" style="height: 120px" alt="Card image cap" />
              <div class="card-body">
                <h4 class="card-title">
                  Convocatoria {{ convocatoria.carrera.abreviatura }}
                </h4>
                <p class="card-text">
                  Codigo convocatoria:{{ convocatoria.id }}
                </p>
                <p class="card-text">
                  Carrera:{{ convocatoria.carrera.nombre }}
                </p>
                <p class="card-text">
                  Fecha Maxima:{{ convocatoria.fecha_max_recib_solic }}
                </p>

                <div class="col-md-3 text-right">
                  <button class="btn btn-primary btn-sm"(click)="Detalle(convocatoria.id)">
                   Ver
                  </button>



                  <br>
                  <br>

                </div>

              </div>
            </div>
            <!-- Card -->
          </div>
        </div>
      </div>
    </div>
  </div>

<mat-paginator [length]="totalRegistros" [pageSize]="totalPorPagina" [pageSizeOptions]="pageSizeOptions" [pageIndex]="paginaActual" (page)="paginar($event)" showFirstLastButtons>
</mat-paginator>
