<div class="col-12">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-center">Listado de Convocatorias</h4>
      <div class="table-responsive">
        <div id="example23_wrapper" class="dataTables_wrapper">
          <div class="row">
            <div class="col-md-8">
              <select class="form-control" [(ngModel)]="carreraFiltro">
                <option [ngValue]="undefined">CARRERA (TODAS)</option>
                <option
                  *ngFor="let carreras of carreras"
                  [ngValue]="carreras.nombre"
                >
                  {{ carreras.nombre }}
                </option>
              </select>
            </div>

            <div class="col-md-1">
              <button
                class="btn btn-primary btn-sm"
                (click)="filtrarValidacionesSACCarrera()"
              >
                <i class="mdi mdi-magnify"></i>
                Buscar
              </button>
            </div>
            <div class="col-md-2 text-right">
              <button class="btn btn-sm" (click)="cargarConvocatoriasDefault()">
                Mostrar Todas
              </button>
            </div>
          </div>
          <br />

          <div class="table-scroll">
            <table
              class="
                table table-bordered
                justify-content-center
                table-responsive-sm table-sm
                dataTable
              "
            >
              <thead>
                <tr>
                  <th>Convocatoria</th>
                  <th>Alumnos</th>
                </tr>
              </thead>

              <tbody class="animated fadeIn fast">
                <tr *ngFor="let validacionesSac of validacionesSac">
                  <td>
                    {{ validacionesSac.convocatoria.carrera.abreviatura }}
                  </td>
                  <td>
                    <table
                      class="
                        table table-bordered table-responsive-sm table-sm
                        text-center
                      "
                    >
                      <thead class="bg-pri white">
                        <tr>
                          <th>C.I</th>
                          <th>Apellidos y Nombres</th>
                          <th>Tutor Empresarial</th>
                          <th>Accion</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let alumno of validacionesSac.alumnos">
                          <td>{{ alumno.persona.identificacion }}</td>
                          <td>
                            {{ alumno.persona.primer_apellido }}
                            {{ alumno.persona.segundo_apellido }}
                            {{ alumno.persona.primer_nombre }}
                            {{ alumno.persona.segundo_nombre }}
                          </td>
                          <td *ngIf="!alumno.te">Sin Asignar</td>
                          <td *ngIf="alumno.te">Designado</td>
                          <td class="text-nowrap text-center">
                            <a
                              *ngIf="!alumno.te"
                              [routerLink]="[
                                '/dashboard',
                                'nueva-designacion-te',
                                validacionesSac.id,
                                alumno.id
                              ]"
                              data-toggle="tooltip"
                              data-original-title="Designar Tutor Empresarial"
                              class="cursor"
                              title="Designar Tutor Empresarial"
                            >
                              <i class="mdi mdi-account-switch m-r-10"></i>
                            </a>
                            <a
                              *ngIf="alumno.te"
                              [routerLink]="[
                                '/dashboard',
                                'actualizar-designacion-te',
                                alumno.id
                              ]"
                              data-toggle="tooltip"
                              data-original-title="Editar Tutor Empresarial"
                              class="cursor"
                              title="Editar Tutor Empresarial"
                            >
                              <i class="fa fa-pencil text-inverse m-r-10"> </i>
                            </a>
                            <a
                              *ngIf="alumno.te"
                              data-toggle="tooltip"
                              data-original-title="Borrar"
                              class="cursor"
                              title="Eliminar Tutor Empresarial"
                            >
                              <i class="fa fa-close text-danger m-r-10"></i>
                            </a>
                            <a
                              *ngIf="alumno.te"
                              data-toggle="tooltip"
                              data-original-title="Ver"
                              class="cursor"
                              title="Ver"
                            >
                              <i class="mdi mdi-library-books"></i>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-paginator
    [length]="totalRegistros"
    [pageSize]="totalPorPagina"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="paginaActual"
    (page)="paginar($event)"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
