<div class="card">
    <div>Consultar datos por:
        <select class="form-control" style="width: auto;" name="CombocatoriaCarrera">
        <option [ngValue]="undefined"> Seleccione la carrera </option>
        <option *ngFor="let carrera of carreras">{{carrera.nombre}}</option>
      </select>
        <select>
      <option>Fecha</option>
      <option>Tutores</option>
      <option>Estudiantes</option>
    </select>
        <select class="form-control" style="width: auto;" name="empresa">
      <option [ngValue]="undefined"> Seleccione la empresa </option>
      <option *ngFor="let empresa of empresas">{{empresa.nombre}}</option>
    </select>

    </div>

    <div class="card-body">



        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="card-botones" style="text-align: right;">
    <button class="mdi-file-document"> Genarar PDF </button>

</div>