<div class="col-12">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-center">Listado de Respuestas a Empresas</h4>
      <div class="table-responsive">
        <div id="example23_wrapper" class="dataTables_wrapper">
          <div class="row">
            <div class="col-md-2">
              <select
                style="width: auto; align-items: right"
                class="form-control"
                [(ngModel)]="seleccionado"
                required
              >
                <option [ngValue]="undefined">Seleccione el Tutor</option>

                <option *ngFor="let t of listTutores" [ngValue]="t">
                  {{ t }}
                </option>
              </select>
            </div>
            <div class="col-md-5">
              <select
                style="width: auto; align-items: right"
                class="form-control"
                [(ngModel)]="carreraFiltro"
              >
                <option [ngValue]="undefined">CARRERA (TODAS)</option>
                <option
                  *ngFor="let carreras of carreras"
                  [ngValue]="carreras.nombre"
                >
                  {{ carreras.nombre }}
                </option>
              </select>
            </div>

            <div class="col-md-1">
              <button
                class="boton"
                mat-raised-button
                color="primary"
                (click)="filtrarValidacionesSACCarrera()"
              >
                <i class="mdi mdi-magnify"></i>
                Buscar
              </button>
            </div>
            <div class="col-md-2 text-right">
              <button class="btn btn-sm" (click)="cargarConvocatoriasDefault()">
                Mostrar Todas
              </button>
            </div>
          </div>
          <br />
          <div
            class="alert alert-primary text-center"
            *ngIf="validacionesSac.length == 0"
          >
            NO HAY DATOS DISPONIBLES
          </div>

          <span *ngIf="seleccionado == 'Tutores Academico'">
            <div class="table-scroll">
              <table
                class="
                  table table-bordered
                  justify-content-center
                  table-responsive-sm table-sm
                  dataTable
                "
                *ngIf="validacionesSac.length > 0"
              >
                <thead>
                  <tr>
                    <th>Titulo</th>
                    <th>C.I.</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Alumnos Asignados</th>
                  </tr>
                </thead>

                <tbody class="animated fadeIn fast">
                  <tr *ngFor="let dta of desicnacionesTA">
                    <td>{{ dta.docente?.abreviatura_titulo }}</td>
                    <td>{{ dta.docente?.persona?.identificacion }}</td>
                    <td>
                      {{ dta.docente?.persona?.primer_apellido }}
                      {{ dta.docente?.persona?.segundo_apellido }}
                      {{ dta.docente?.persona?.primer_nombre }}
                      {{ dta.docente?.persona?.segundo_nombre }}
                    </td>

                    <td>
                      {{ dta.docente.persona.email }}
                    </td>
                    <td>
                      {{ dta.docente.persona.celular }}
                    </td>

                    <td>
                      {{ dta.alumno?.persona?.primer_apellido }}
                      {{ dta.alumno?.persona?.segundo_apellido }}
                      {{ dta.alumno?.persona?.primer_nombre }}
                      {{ dta.alumno?.persona?.segundo_nombre }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </span>

          <span *ngIf="seleccionado == 'Tutores empresariales'">
            <div class="table-scroll">
              <table
                class="
                  table table-bordered
                  justify-content-center
                  table-responsive-sm table-sm
                  dataTable
                "
                *ngIf="validacionesSac.length > 0"
              >
                <thead>
                  <tr>
                    <th>Cargo</th>
                    <th>C.I.</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Alumnos Asiganados</th>
                  </tr>
                </thead>

                <tbody class="animated fadeIn fast">
                  <tr *ngFor="let dte of desicnacionesTE">
                    <td>{{ dte.empresaPersonal?.cargo }}</td>
                    <td>{{ dte.empresaPersonal?.persona?.identificacion }}</td>
                    <td>
                      {{ dte.empresaPersonal?.persona?.primer_apellido }}
                      {{ dte.empresaPersonal?.persona?.segundo_apellido }}
                      {{ dte.empresaPersonal?.persona?.primer_nombre }}
                      {{ dte.empresaPersonal?.persona?.segundo_nombre }}
                    </td>

                    <td>
                      {{ dte.empresaPersonal?.persona?.email }}
                    </td>
                    <td>
                      {{ dte.empresaPersonal?.persona?.celular }}
                    </td>

                    <td>
                      {{ dte.alumno?.persona?.primer_apellido }}
                      {{ dte.alumno?.persona?.segundo_apellido }}
                      {{ dte.alumno?.persona?.primer_nombre }}
                      {{ dte.alumno?.persona?.segundo_nombre }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </span>
        </div>
      </div>
    </div>
    <mat-paginator
      [length]="totalRegistros"
      [pageSize]="totalPorPagina"
      [pageSizeOptions]="pageSizeOptions"
      [pageIndex]="paginaActual"
      (page)="paginar($event)"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
