<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            Buscar por fecha
            <br>
            <input aria-placeholder="Seleccioanr fecha" [matDatepicker]="myDatepicker" [(ngModel)]="fecha"
              class="form-control" style="width: min-content" name="fechaF" required #fechaF="ngModel" />
            <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker [touchUi]="true" color="dark" #myDatepicker></mat-datepicker>
          </div>
          <div class="col-md-5">
            Buscar por carrera<br>
            <select class="form-control" [(ngModel)]="carreraFiltro">
              <option [ngValue]="undefined">CARRERA (TODAS)</option>
              <option *ngFor="let carreras of carreras" [ngValue]="carreras.nombre">
                {{ carreras.nombre }}
              </option>
            </select>
          </div>
          <br>
          <br><br>
          <div class="col-md-1">
            <br>
            <button class="btn btn-primary btn-sm" (click)="filtarConvocatoriasPorFechaCarrera()">
              <i class="mdi mdi-magnify"></i>
              Buscar
            </button>
          </div>
          <div class="col-md-2 text-right"><br>
            <button class="btn btn-sm " (click)="cargarConvocatoriasDefault()">
              Mostrar Todas
            </button>
          </div>
        </div>
        <br>
        <div class="table-scroll">
          <table class="
                  table table-bordered
                  justify-content-center
                  table-responsive-sm table-sm
                  dataTable
                ">
            <thead>
              <tr>

                <th>Identificación</th>
                <th>Apellidos y Nombres</th>
                <th>Email</th>
                <th>Celular</th>
                <th>Carrera</th>

              </tr>
            </thead>

            <tbody class="animated fadeIn fast">
              <tr *ngFor="let persona of personas">

                <td>{{ persona.identificacion }}</td>
                <td>
                  {{ persona.primer_apellido }}
                  {{ persona.segundo_apellido }}
                  {{ persona.primer_nombre }} {{ persona.segundo_nombre }}
                </td>
                <td>{{ persona.email }}</td>
                <td>{{ persona.celular }}</td>
                <td>{{ persona.genero }}</td>

              </tr>
            </tbody>
          </table>

        </div>
      </div>



      <div class="text-center">
        <button class="btn btn-success " (click)="cargarTutoresDefault()">
          Generar PDF
        </button>
      </div>
    </div>
  </div>
</div>
<mat-paginator [length]="totalRegistros" [pageSize]="totalPorPagina" [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="paginaActual" (page)="paginar($event)" showFirstLastButtons>
</mat-paginator>