<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-left">Anexo 10:Seguimiento a Cronograma</h4>
        <br />
        <h4 class="card-title text-center font-weight-bold">
          INSTITUTO SUPERIOR TECNOLOGICO DEL AZUAY <br />
          TECNOLOGIA <br />
          SEGUIMIENTO A ACTIVIDADES SEGUN CRONOGRAMA
        </h4>
        <br />Estudiante: <br />Empresa: <br />Tutor Academico:
        <div class="table-responsive">
          <div id="example23_wrapper" class="dataTables_wrapper">
            <div class="table-scroll">
              <table
                class="
                  table table-bordered
                  justify-content-center
                  table-responsive-sm table-sm
                  dataTable
                "
              >
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Fecha de Seguimiento</th>
                    <th>Actividades</th>
                    <th>Fecha Finalizacion Prevista Realizadas</th>
                    <th>Porcentaje de avance</th>
                    <th>Observaciones</th>
                  </tr>
                </thead>

                <tbody class="animated fadeIn fast">
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
              <h4 class="card-title text-center font-weight-bold">
                <br />
                ______________________ <br />
                Nombre Tutor Academico <br />
                Tutor Academico
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
