<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <div class="navbar-header">
      <a class="navbar-brand fs-2 w-100" href="index.html">
        <img
          src="./assets/images/ISTA_LOGO.svg"
          style="height: 80px"
          alt="homepage"
        />
        <span class="text-themecolor">Ista Pro</span>
      </a>
    </div>
    <!-- ============================================================== -->
    <!-- End Logo -->
    <!-- ============================================================== -->
    <div class="navbar-collapse">
      <!-- ============================================================== -->
      <!-- toggle and nav items -->
      <!-- ============================================================== -->
      <ul class="navbar-nav mr-auto">
        <!-- This is  -->
        <li class="nav-item">
          <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark">
            <i class="ti-menu"></i>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark"
          >
            <!-- <i class="ti-menu"></i> -->
            <span class="material-icons" style="line-height: inherit">
              menu
            </span>
          </a>
        </li>
        <li class="nav-item hidden-sm-down"></li>
      </ul>
      <!-- ============================================================== -->
      <!-- User profile and search -->
      <!-- ============================================================== -->
      <ul class="navbar-nav my-lg-0">
        <!-- ============================================================== -->
        <!-- Search -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Comment -->
        <!-- ============================================================== -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle waves-effect waves-dark"
            href=""
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            (click)="cargarDesignacionesTA()"
          >
            <!-- <i class=" material-icons">notifications</i> -->
            <i class="material-icons fs-2" style="line-height: inherit">
              notifications
            </i>
            <div class="notify">
              <span class="heartbit"></span> <span class="point"></span>
            </div>
          </a>
          <div
            class="dropdown-menu dropdown-menu-right mailbox animated fadeIn fast"
          >
            <ul>
              <li>
                <div class="drop-title">Notificaciones</div>
              </li>
              <li>
                <div class="message-center">
                  <!-- Message -->
                  <div
                    class="text-left"
                    *ngIf="usuarioService.hasAnyRoles(roles)"
                  >
                    <a *ngFor="let designacionTA of designacionesTA">
                      <div class="mail-contnet cursor">
                        <h5>Designacion Tutor Academico</h5>
                        <span class="mail-desc"
                          >Alumno:
                          {{ designacionTA.alumno?.persona?.primer_apellido }}
                          {{ designacionTA.alumno?.persona?.primer_nombre }}
                        </span>
                        <span class="time"
                          >Tutor Academico:
                          {{ designacionTA.docente?.abreviatura_titulo }}
                          {{ designacionTA.docente?.persona?.primer_apellido }}
                          {{ designacionTA.docente?.persona?.primer_nombre }}
                        </span>
                      </div>
                    </a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <!-- Profile -->
        <!-- ============================================================== -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle waves-effect waves-dark"
            href=""
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i
              *ngIf="!usuarioService.usuario.persona.fotoHashCode"
              class="material-icons fs-2"
              style="line-height: inherit"
            >
              account_circle
            </i>
            <img
              *ngIf="usuarioService.usuario.persona.fotoHashCode"
              [src]="
                bd_url +
                '/img/' +
                usuarioService.usuario.persona.id +
                '?fotoHashCode=' +
                usuarioService.usuario.persona.fotoHashCode
              "
              alt="Foto"
              class="avatar cursor"
            />
          </a>
          <div class="dropdown-menu dropdown-menu-right animated fadeIn fast">
            <ul class="dropdown-user">
              <li>
                <div class="dw-user-box">
                  <div class="u-text ms-2">
                    <h4>
                      {{ usuarioService.usuario.persona.primer_nombre }}
                      {{ usuarioService.usuario.persona.primer_apellido }}
                    </h4>
                  </div>
                </div>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a routerLink="./perfil"><i class="ti-user"></i> Mi Perfil</a>
              </li>

              <li role="separator" class="divider"></li>
              <li>
                <a routerLink="account-settings"
                  ><i class="ti-settings"></i> Configuracion</a
                >
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a (click)="logout()" class="cursor"
                  ><i class="fa fa-power-off e"></i> Cerrar Sesión</a
                >
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
