<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
           
            
          
          <div class="table-scroll">
            <table class="
                    table table-bordered
                    justify-content-center
                    table-responsive-sm table-sm
                    dataTable
                  ">
              <thead>
                <tr>
                    <th>Codigo Proceso</th> 
                    <th>Carrera</th>
                    <th># Estudiantes</th>
                    <th>Empresa</th>
                    <th>Responsable PPP</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Finalizacion</th>
                    <th>Estado</th>
                  </tr>
                </thead>

                <tbody class="animated fadeIn fast">
                  <tr *ngFor="let convocatoria of convocatoria">
                    <td>{{ convocatoria.id }}</td>
                    <td>{{ convocatoria.carrera.nombre }}</td>
                    <td>{{ convocatoria.solicitudEmpresa.numero_alumnos}}</td>
                    <td>{{ convocatoria.solicitudEmpresa.empresa.nombre }}</td>
                    <td>{{ convocatoria.solicitudEmpresa.responsablePPP.docente.abreviatura_titulo}}
                        {{ convocatoria.solicitudEmpresa.responsablePPP.docente.persona.primer_apellido}} 
                        {{ convocatoria.solicitudEmpresa.responsablePPP.docente.persona.primer_nombre}}
                    </td>    
                    <td>{{ convocatoria.fecha_emision}}</td>
                    <td>{{ convocatoria.fecha_max_recib_solic}}</td>
                    <td>{{ convocatoria.estado}}</td>
                  <td>
                   
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <mat-paginator [length]=" totalRegistros " [pageSize]="totalPorPagina" [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="paginaActual" (page)="paginar($event)" showFirstLastButtons>
  </mat-paginator>
  