<form>
    <div class="card-body">
        <div class="card-titulo" style="text-align: center;">
            ANEXO 7: Acta de reunion

        </div>
        <br>
        <br>

        <div class="card-encabezado">
            <strong>Fecha: </strong> Cuenca, <input type="date" id="start" name="trip-start" value="2021-01-01">
        </div>
        <div class="card-asistentes">

            <strong>Asistentes:</strong> - Mgtr.
            <select class="form-control" style="width: auto;" name="Responsable de prácticas pre profesionales">
        <option [ngValue]="undefined">Seleccione el responsable de prácticas pre profesionales</option>
        <option *ngFor="let docente of docentes">
          {{ docente.persona.primer_nombre }}
          {{ docente.persona.segundo_nombre }}
          {{ docente.persona.primer_apellido }}
          {{ docente.persona.primer_apellido }}


        </option>
      </select>Responsable de Prácticas Pre Profesionales de la Carrera
            <select class="form-control" style="width: auto;" name="CombocatoriaCarrera">
        <option [ngValue]="undefined"> Seleccione la carrera </option>
        <option *ngFor="let carrera of carreras">{{carrera.nombre}}</option>
      </select> del Instituto Superior Tecnológico del Azuay. <br>- Sr./Dr./Ing.

            <select class="form-control" style="width: auto;" name="empresa">
        <option [ngValue]="undefined"> Seleccione responsable de la empresa</option>
        <option *ngFor="let empresa of empresas">{{empresa.representante}}</option>
      </select> , Tutor asignado por la empresa

            <select class="form-control" style="width: auto;" name="empresa">
        <option [ngValue]="undefined"> Seleccione la empresa </option>
        <option *ngFor="let empresa of empresas">{{empresa.nombre}}</option>
      </select>


            <br> Asunto: Actividades a desarrollar en las prácticas pre profesionales por el estudiante

            <select class="form-control" style="width: auto;" name="empresa">
        <option [ngValue]="undefined"> Seleccione responsable el estudiante</option>
        <option *ngFor="let empresa of empresas">{{empresa.representante}}</option>
      </select>

            <br> Lugar de la reunión: <input>
            <br>
            <br>
            <div class="card-titulo" style="text-align: center;">
                <strong> Desarollo y acuerdos</strong>
            </div>

            <strong> 1. Planificación de actividades a desarrollar</strong><br> Con base en la solicitud realizada por la empresa

            <select class="form-control" style="width: auto;" name="empresa">
        <option [ngValue]="undefined"> Seleccione la empresa </option>
        <option *ngFor="let empresa of empresas">{{empresa.nombre}}</option>
      </select> el/la Sr./Srta./Sra.


            <select class="form-control" style="width: auto;" name="empresa">
        <option [ngValue]="undefined"> Seleccione el estudiante</option>
        <option *ngFor="let empresa of empresas">{{empresa.representante}}</option>
      </select> , estudiante de
            <select class="form-control" style="width: auto;" name="ciclo">
        <option [ngValue]="undefined"> Seleccione el ciclo </option>
        <option *ngFor="let ciclo of ciclos">{{ciclo.nombre}}</option>
      </select> ciclo de la carrera


            <select class="form-control" style="width: auto;" name="CombocatoriaCarrera">
        <option [ngValue]="undefined"> Seleccione la carrera </option>
        <option *ngFor="let carrera of carreras">{{carrera.nombre}}</option>
      </select> del Instituto Superior Tecnológico del Azuay llevará a cabo las siguientes actividades para la cumplir con las <input type="text"> horas de prácticas pre profesionales.
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Area</th>
                        <th scope="col">Actividad por reazlizar</th>
                        <th scope="col">Asignatura relacionada</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>

                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>

                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>

                    </tr>
                </tbody>
            </table>
            <div class="card-text">

                <br>

                <strong>2. Fechas Importantes y horario de prácticas pre profesionales</strong> <br> El estudiante comenzará a desarrollar las prácticas pre profesionales a partir del


                <input type="date" id="start" name="trip-start" value="2021-01-01"> terminará el
                <input type="date" id="start" name="trip-start" value="2021-01-01"> , en un horario de


                <input type="time" name="hora" min="6:00" step="3600" /> a <input type="time" name="hora" min="7:00" step="3600" />.

                <br/>
                <strong>3. Cronograma de Actividades</strong>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Area</th>
                            <th scope="col">Actividad por reazlizar</th>
                            <th scope="col">Asignatura relacionada</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>

                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>

                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>

                        </tr>
                    </tbody>
                </table>
                <br />
                <br />
                <strong> 4. Acuerdos varios</strong>
                <br>
                <textarea name="varios" style="width: 100%; height:150px;"> </textarea>

                <div class="card-pie" style="text-align: center;">
                    <br>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    Mgtr.
                                    <select class="form-control" style="width: auto;" name="Responsable de prácticas pre profesionales">
                        <option [ngValue]="undefined">Seleccione el responsable de prácticas pre profesionales</option>
                        <option *ngFor="let docente of docentes">
                          {{ docente.persona.primer_nombre }}
                          {{ docente.persona.segundo_nombre }}
                          {{ docente.persona.primer_apellido }}
                          {{ docente.persona.primer_apellido }}


                        </option>
                      </select> <br> Responsable de prácticas pre profesionales<br> de la carrera

                                    <select class="form-control" style="width: auto;" name="CombocatoriaCarrera">
                        <option [ngValue]="undefined"> Seleccione la carrera </option>
                        <option *ngFor="let carrera of carreras">{{carrera.nombre}}</option>
                      </select>
                                    <br> Instituto Superior Tecnológico del Azuay <br>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    /Dr./Ing.
                                    <select class="form-control" style="width: auto;" name="empresa">
                        <option [ngValue]="undefined"> Seleccione responsable de la empresa</option>
                        <option *ngFor="let empresa of empresas">{{empresa.representante}}</option>
                      </select>
                                    <br> Tutor Empresarial<br>

                                    <select class="form-control" style="width: auto;" name="empresa">
                        <option [ngValue]="undefined"> Seleccione la empresa </option>
                        <option *ngFor="let empresa of empresas">{{empresa.nombre}}</option>
                      </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
<div class="card-botones" style="text-align: right;">

    <button type="button" class="btn btn-primary">Guardar </button>
    <button type="button" class="btn btn-success">Generar PDF</button>
</div>