<div class="row">
    <section class="col-md-12">
        <div class="d-flex justify-content-between">
            <button mat-raised-button [routerLink]="['./registro-convenio']" color="primary" class="mb-3">
                <i class="mdi mdi-plus"></i><strong>Nuevo convenio</strong>
            </button>
            <div class="float-end">
                <div *ngIf="convenios.length>0 || search">
                    <mat-form-field>
                        <span matPrefix>Carrera:&nbsp;</span>
                        <input type="text" #inputSearch matInput>
                        <span matSuffix *ngIf="search==false; else reset">
                            <button class="btn-primary btn-sm" (click)="searchByCarrera(inputSearch.value)" type="button">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
                            </button>
                        </span>
                        <ng-template #reset>
                            <span matSuffix>
                                <button class="btn-primary btn-sm" (click)="resetSearch()" type="button">
                                    Reset
                                </button>
                            </span>
                        </ng-template>


                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="loading">
            <div class="col-12">
                <div class="alert alert-info text-center" role="alert">
                    <h4 class="alert-heading">Cargando</h4>
                    <i class="fa fa-spin fa-refresh fa-2x"></i>
                    <p class="mb-0">Por favor espere...</p>
                </div>
            </div>
        </div>
        <div class="text-center" *ngIf="convenios.length<=0 && !search ">
            <mat-divider class="mb-3 mt-3"></mat-divider>
            <h4>
                <mat-icon color="accent" aria-hidden="false" aria-label="Example home icon">info</mat-icon>
                Aun no hay convenios registrados
            </h4>
        </div>

        <div [hidden]='false===convenios.length>0 && !search'>
            <div class="table-responsive">
                <div class="mat-elevation-z8 example-container">
                    <mat-form-field [hidden]='emptyList' appearance="standard">
                        <mat-label>Filtrar</mat-label>
                        <input matInput #inputFilter (keyup)="filterByCarrera(inputFilter.value)" placeholder="Ex. Tec" #input>
                    </mat-form-field>
                    <table mat-table [dataSource]="dataSource" class="table-bordered ">
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef>Id</th>
                            <td mat-cell *matCellDef="let convenio"> {{convenio.id}} </td>
                        </ng-container>
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef> Nombre </th>
                            <td mat-cell *matCellDef="let convenio"> {{convenio.nombre}} </td>
                        </ng-container>
                        <ng-container matColumnDef="empresa">
                            <th mat-header-cell *matHeaderCellDef> Empresa </th>
                            <td mat-cell *matCellDef="let convenio"> {{convenio.empresa.nombre}} </td>
                        </ng-container>
                        <ng-container matColumnDef="carrera">
                            <th mat-header-cell *matHeaderCellDef> Carrera </th>
                            <td mat-cell *matCellDef="let convenio"> {{convenio.carrera.nombre}} </td>
                        </ng-container>
                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                            <td mat-cell *matCellDef="let convenio">
                                <a class="mr-2" mat-stroked-button color="primary" [routerLink]="['../convenio', convenio.id]" [state]="{id: convenio.id}" data-toggle="tooltip" data-original-title="Editar">
                                    <mat-icon aria-hidden="true" aria-label="Example home icon">mode_edit</mat-icon>
                                </a>
                                <a class="mr-2" mat-stroked-button color="warn" data-toggle="tooltip" data-original-title="Borrar" (click)="deleteById(convenio)">
                                    <mat-icon aria-hidden="true" aria-label="Example home icon">delete</mat-icon>
                                </a>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        <ng-container matColumnDef="disclaimer">
                            <td mat-footer-cell *matFooterCellDef colspan="5">
                                <h5>
                                    <mat-icon color="accent" aria-hidden="false" aria-label="Example home icon">info</mat-icon>
                                    {{message}}
                                </h5>
                            </td>
                        </ng-container>

                        <tr mat-footer-row *matFooterRowDef="['disclaimer']" [ngClass]="{'hide':!(emptyList==true)}" class="example-second-footer-row">
                        </tr>
                        <tr mat-footer-row *matFooterRowDef="['disclaimer']" [ngClass]="{'hide':!(dataSource.filteredData!=null && dataSource.filteredData.length==0 && search==false)}" class="example-second-footer-row">
                        </tr>
                    </table>
                    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="paginate($event)" showFirstLastButtons aria-label="Select page">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </section>
</div>