<div class="row" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <button routerLink="/dashboard/convocatorias" class="btn btn-primary btn-sm">

          Volver Convocatorias
        </button>
        <div class="table-responsive">
          <div id="example23_wrapper" class="dataTables_wrapper">

            <h4 class="card-title text-center">
              SOLICITUDES PARA {{convocatoria.solicitudEmpresa.empresa.nombre}}
            </h4>

            <div class="row" *ngIf="cargando">
              <div class="col-12">
                <div class="alert alert-info text-center" role="alert">
                  <h4 class="alert-heading">Cargando</h4>
                  <i class="fa fa-spin fa-refresh fa-2x"></i>
                  <p class="mb-0">Por favor espere...</p>
                </div>
              </div>
            </div>
            <div class="table-scroll">
              <table class="
                  table table-bordered
                  justify-content-center
                  table-responsive-sm table-sm
                  dataTable
                ">
                <thead>
                  <tr>
                    <th>Fecha Solicitud</th>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Ciclo</th>
                </thead>

                <tbody class="animated fadeIn fast">
                  <tr *ngFor="let solicitudesAlumnos of this.alumnosXconvocatoria">
                    <td>{{ solicitudesAlumnos.fecha_emision }}</td>
                    <td> {{ solicitudesAlumnos.alumno.persona.identificacion }}</td>
                    <td>{{ solicitudesAlumnos.alumno.persona.primer_nombre }}
                      {{ solicitudesAlumnos.alumno.persona.segundo_nombre }}
                      {{ solicitudesAlumnos.alumno.persona.primer_apellido }}
                      {{ solicitudesAlumnos.alumno.persona.segundo_apellido }}</td>

                    <td>{{ solicitudesAlumnos.alumno.persona.email }}</td>
                    <td>{{ solicitudesAlumnos.alumno.ciclo }}</td>


                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-paginator [length]="totalRegistros" [pageSize]="totalPorPagina" [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="paginaActual" (page)="paginar($event)" showFirstLastButtons>
</mat-paginator>
