<div *ngIf="getAnexo() === 'a1'">
  <h1>Solicitar Requerimiento (A1)</h1>
</div>
<div *ngIf="getAnexo() === 'a4'">
  <h1>Listado de estudiantes asignados (A4)</h1>
  <h2>Convocatoria ABC_123</h2>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Identificacion</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Correo</th>
        <th scope="col">Telefono</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <th scope="row">{{ student.id }}</th>
        <td>{{ student.names }}</td>
        <td>{{ student.last }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.phone }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="getAnexo() === 'a5'">
  <h1>Designar tutor empresarial (A5)</h1>
  <h2>Convocatoria ABC_123</h2>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Estudiante</th>
        <th scope="col">Tutor Empresarial</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <th scope="row">
          {{ student.names }}
          {{
            student.empTutor ? "(" + student.empTutor + ")" : "(NO ASIGNADO)"
          }}
        </th>
        <td>
          <input #tutor type="text" name="tutor" class="mx-3" required />
          <button
            class="btn"
            [ngClass]="{
              'btn-primary': !student.empTutor,
              'btn-disabled': student.empTutor
            }"
            (click)="setTutorEmpresarial(student.id, tutor.value)"
            [disabled]="student.empTutor"
          >
            {{ student.empTutor ? "ASIGNADO" : "ASIGNAR" }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="getAnexo() === 'a12'">
  <h1>Evaluacion a estudiantes (A12)</h1>
  <h2>Convocatoria ABC_123</h2>
</div>
<div *ngIf="getAnexo() === 'a12_1'">
  <h1>Certificado (A12.1)</h1>
  <h2>Convocatoria ABC_123</h2>
</div>
