<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form #MyForm="ngForm" (submit)="guardarEmpresaPersonal(MyForm)">
            <div class="form-body">
              <h3 class="card-title">Personal de Empresa</h3>
              <hr />
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label">Cargo*</label>
                    <input
                      type="text"
                      class="form-control"
                      name="cargo"
                      #cargo="ngModel"
                      [(ngModel)]="empresaPersonal.cargo"
                      required
                    />
                    <div
                      class="text-danger"
                      *ngIf="cargo.hasError('required') && cargo.touched"
                    >
                      EL cargo del empeado es  requerido!
                    </div>
                  </div>
                </div>
                <!--/span-->
                <!--/span-->
              </div>
              <!--/row-->
              <div class="row">
                <!--/span-->
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="control-label">sueldo*</label>
                    <input
                      type="text"
                      class="form-control"
                      name="sueldo"
                      #sueldo="ngModel"
                      [(ngModel)]="empresaPersonal.sueldo"
                      required
                    />
                    <div
                      class="text-danger"
                      *ngIf="
                      sueldo.hasError('required') && sueldo.touched
                      "
                    >
                      El sueldo del empleado  es requerido!
                    </div>
                  </div>
                </div>
                  
                
               
                <!--/span-->
              </div>
              <!--/row-->
            
            </div>
            <hr />
            <div class="form-actions">
              <button type="submit" class="btn btn-success mr-2">
                <i class="fa fa-check"></i> Guardar
              </button>
              <button
                type="button"
                class="btn btn-inverse"
                (click)="irListaEmpresaPersonales()"
              >
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  