<div class="col-12">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-center">
        Listado de Alumnos para el Seguimiento
      </h4>
      <div class="table-responsive">
        <div id="example23_wrapper" class="dataTables_wrapper">
          <br />
          <div
            class="alert alert-primary text-center"
            *ngIf="actasDR.length == 0"
          >
            NO HAY DATOS DISPONIBLES
          </div>

          <div class="table-scroll">
            <table
              class="
                table table-bordered
                justify-content-center
                table-responsive-sm table-sm
                dataTable
              "
              *ngIf="actasDR.length > 0"
            >
              <thead>
                <tr>
                  <th>Alumno</th>
                  <th>Carrera</th>
                  <th>Accion</th>
                </tr>
              </thead>

              <tbody class="animated fadeIn fast">
                <tr *ngFor="let actaDR of actasDR">
                  <td>
                    {{ actaDR.alumno?.persona?.identificacion }}
                    {{ actaDR.alumno?.persona?.primer_apellido }}
                    {{ actaDR.alumno?.persona?.segundo_apellido }}
                    {{ actaDR.alumno?.persona?.primer_nombre }}
                    {{ actaDR.alumno?.persona?.segundo_nombre }}
                  </td>
                  <td>
                    {{ actaDR.alumno?.carrera?.nombre }}
                  </td>
                  <td class="text-nowrap text-center">
                    <a
                      *ngIf="!actaDR.alumno?.seg"
                      [routerLink]="[
                        '/dashboard',
                        'nuevo-seguimiento',
                        actaDR.alumno?.id
                      ]"
                      data-toggle="tooltip"
                      data-original-title="Nuevo Seguimiento"
                      class="cursor"
                      title="Nuevo Seguimiento"
                    >
                      <i class="mdi mdi-format-list-bulleted m-r-10"></i>
                    </a>
                    <a
                      *ngIf="actaDR.alumno?.seg"
                      [routerLink]="[
                        '/dashboard',
                        'actualizar-seguimiento',
                        actaDR.alumno?.id
                      ]"
                      data-toggle="tooltip"
                      data-original-title="Editar Seguimiento"
                      class="cursor"
                      title="Editar Seguimiento"
                    >
                      <i class="fa fa-pencil text-inverse m-r-10"> </i>
                    </a>
                    <a
                      *ngIf="actaDR.alumno?.seg"
                      data-toggle="tooltip"
                      data-original-title="Borrar"
                      class="cursor"
                      title="Eliminar Seguimiento"
                      (click)="eliminarSeguimiento(actaDR.alumno?.id)"
                    >
                      <i class="fa fa-close text-danger m-r-10"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
