
<mat-card class="mat-elevation-z8">
    <div class="row">
        <div class="col-md-10">
            <mat-form-field >
                <mat-label>Filtrar</mat-label>
                <input matInput #inputFilter placeholder="Ex. Tec" #input>
            </mat-form-field>
        </div>
        <div class="col-md-2">
        <mat-form-field>
            <mat-label>Tipo</mat-label>
            <mat-select #select [(value)]="tipo">
                <mat-option>Ninguno</mat-option>
                <mat-option *ngFor="let tipo of tipos" [value]='tipo.tipo'>
                    {{tipo.tipo}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        </div>
    </div>
    <mat-card-content>
        <div class="example-container">
            <div class="example-table-container">
            </div>
            <mat-paginator #paginatorshowFirstLastButtons aria-label="Select page">
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>