
            <div class="table-scroll">
              <h4 class="card-title text-center">
                Listado de Solicitudes Enviadas por Alumnos
              </h4>
             <strong> Numero de alumnos permitidos para esta convocatoria: {{convocatoria.solicitudEmpresa.numero_alumnos}}</strong>
              <table class="
                  table table-bordered
                  justify-content-center
                  table-responsive-sm table-sm
                  dataTable
                ">

                <thead>
                  <tr>
                    <th>Identificacion</th>
                    <th>Alumno</th>
                    <th>Fecha Solicitud</th>
                    <th>Promedio</th>
                    <th class="text-nowrap">Accion</th>

                </thead>

                <tbody class="animated fadeIn fast">
                  <tr *ngFor="let solicitudesAlumnos of this.alumnosXconvocatoria">
                    <td> {{ solicitudesAlumnos.alumno.persona.identificacion }}</td>
                    <td>{{ solicitudesAlumnos.alumno.persona.primer_nombre }}
                      {{ solicitudesAlumnos.alumno.persona.segundo_nombre }}
                      {{ solicitudesAlumnos.alumno.persona.primer_apellido }}
                      {{ solicitudesAlumnos.alumno.persona.segundo_apellido }}</td>
                    <td>{{ solicitudesAlumnos.fecha_emision }}</td>
                    <td>{{ solicitudesAlumnos.alumno.promedio_aprobado}}</td>
                    <td class="text-nowrap text-center">
                      <div class="form-check">
                        <input
                        class="form-control"
                  style="width: min-content"


                         type="checkbox" value="" id={{solicitudesAlumnos.alumno.id}}>
                        <label class="form-check-label" for={{solicitudesAlumnos.alumno.id}}>
                          Elegir
                        </label>
                      </div>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>

<mat-paginator [length]="totalRegistros" [pageSize]="totalPorPagina" [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="paginaActual" (page)="paginar($event)" showFirstLastButtons>
</mat-paginator>
