    <mat-card class="mat-elevation-z8">
        <div class="row">
            <div class="col-md-12">
                <mat-form-field>
                    <mat-label>Filtrar</mat-label>
                    <input matInput #inputFilter placeholder="Ex. Tec" #input>
                </mat-form-field>
            </div>
        </div>
        <mat-card-content>
            <button mat-button (click)="openDialog()">Acreditar</button>
            <div class="example-container">
                <div class="example-table-container">
                </div>
                <mat-paginator #paginatorshowFirstLastButtons aria-label="Select page">
                </mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>

    <!-- <mat-card class="example-card mt-3 mb-3">
        <mat-card-subtitle>
            <p class="file-header-top-end">
                CERTIFICADO-TSDS-PPP-{{date.getFullYear()}}-012
                <br>
                Cuenca, {{today}}
            </p>
        </mat-card-subtitle>
        <mat-card-title class="text-center mt-5 mb-5 fs-5">CERTIFICADO DE CUMPLIMIENTO DE PRÁCTICAS PRE PROFESIONALES
        </mat-card-title>
        <mat-card-content>
            <p>Quien suscribe, hace constar que&#58;</p>
            <p #cert class="text-justify mb-1">{{ bodyCertificado}}</p>
                <mat-list>
                    <mat-list-item *ngFor="let componente of componentes">
                        <section style="font-size: 14px; " class="text-justify">
                            {{componente.simbol}}&ensp;{{componente.data}}
                        </section>
                    </mat-list-item>
                </mat-list>
            <p #cert class="text-justify mt-4">Se expide el presente certificado para los fines que el estudiante estime conveniente.</p>
            <div class="row">
                <div class="col-md-12 text-center" style="margin-top: 155px;">
                    <hr>
                    <p class="firma">Ing. Andrea Peralta., Mgtr.</p>
                    <p class="firma">Coordinadora de Vinculación con la Sociedad</p>
                </div>
            </div>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions align='end'>
            <button mat-raised-button color="accent">
                <mat-icon  aria-hidden="false" aria-label="Descargar">
                    file_download
                </mat-icon>
                Generar
            </button>
            <button mat-raised-button color="warn">Cancelar</button>
        </mat-card-actions>
    </mat-card> -->