table {
  width: 100%;
}

th,
td {
  /* padding: 10px !important; */
  text-align: center !important;
  font-size: medium;
}

.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  overflow: auto;
}


.mat-header-cell,
.mat-cell {
  padding: 10px !important;
  text-align: center !important;
  font-size: medium;
}
.mat-header-cell {
  font-weight: bold;
}

.mat-column-id {
  font-weight: bold;
  color: #757575;
}

.mat-form-field {
  /* font-size: 14px; */
  width: 100%;
}

.mat-icon {
  vertical-align: middle;
}

.mat-icon-button {
  font-size: 20px !important;
}

::ng-deep.toast-snackbar.mat-snack-bar-container  {
  width: 500px;
  margin: 0 !important;
  position: absolute;
  right: 25px;
  top: 83px;
  color: #FAFCFF;
  font-weight: bold;
  background-color: #505152;
}