<mat-card class="mat-elevation-z8">
    <div class="d-flex align-items-center flex-column">
        <mat-form-field style="width: 50% !important;" appearance="outline">
            <mat-label>Carreras</mat-label>
            <mat-select  #select  (selectionChange)="changeStatus(select.value)"  #selectCarrera>
                <mat-option>Todas</mat-option>
                <mat-option [value]="carrera.nombre" *ngFor="let carrera of carreras">
                    {{carrera.nombre}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <mat-card-content>
        <div class="example-container">
            <div class="alert alert-primary text-center" *ngIf="validacionesSac.length == 0">
                NO HAY DATOS DISPONIBLES
            </div>
            <div class="example-table-container table-responsive-sm">
                <table class="table-bordered justify-content-center" *ngIf="validacionesSac.length > 0">
                    <thead>
                        <tr>
                            <th>Convocatoria</th>
                            <th>Alumnos</th>
                        </tr>
                    </thead>
                    <tbody class="animated fadeIn fast">
                        <tr *ngFor="let validacionesSac of validacionesSac">
                            <th style="font-weight: bold;">
                                {{ validacionesSac.convocatoria.carrera.abreviatura }}
                            </th>
                            <td>
                                <div class="example-container m-2">
                                    <div class="example-table-container table-responsive-sm">
                                        <table style="margin-bottom: 0px;" class="table-bordered justify-content-center">
                                            <thead class="bg-pri white">
                                                <tr>
                                                    <th>C.I</th>
                                                    <th>Apellidos y Nombres</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let alumno of validacionesSac.alumnos">
                                                    <th>{{alumno.persona.identificacion}}</th>
                                                    <td>
                                                        {{alumno.persona.primer_apellido}}
                                                        {{alumno.persona.segundo_apellido}}
                                                        {{alumno.persona.primer_nombre}}
                                                        {{alumno.persona.segundo_nombre}}
                                                    </td>
                                                    <td>
                                                        <button mat-button color="primary" (click)="openDialog(alumno,validacionesSac.convocatoria)">
                                                            Acreditar
                                                            <mat-icon>turned_in</mat-icon>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <mat-paginator [length]="totalRegistros" [pageSize]="totalPorPagina" [pageSizeOptions]="pageSizeOptions" [pageIndex]="paginaActual" (page)="paginar($event)" showFirstLastButtons>
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>