table {
  width: 100%;
}
/* <input matInput class="right">

.right { text-align: right } */
th,
td {
  /* padding: 10px !important; */
  text-align: center !important;
  font-size: medium;
}

.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  overflow: auto;
}
.mat-card-actions {
  display: block;
  margin-bottom: auto;
}
.mat-list-base {
  padding-top: 0px;
  display: block;
  -webkit-tap-highlight-color: transparent;
}
.mat-header-cell,
.mat-cell {
  padding: 10px !important;
  text-align: center !important;
  font-size: medium;
}
.mat-header-cell {
  font-weight: bold;
}

.mat-column-id {
  font-weight: bold;
  color: #757575;
}

.mat-form-field {
  /* font-size: 14px; */
  width: 100%;
}

.mat-icon {
  vertical-align: middle;
}

.mat-icon-button {
  font-size: 20px !important;
}

::ng-deep.toast-snackbar.mat-snack-bar-container {
  width: 500px;
  margin: 0 !important;
  position: absolute;
  right: 25px;
  top: 83px;
  color: #fafcff;
  font-weight: bold;
  background-color: #505152;
}
.mat-card-subtitle {
  text-align: end;
  /* .mat-card-actions, .mat-card-content, */
}
.firma {
  margin-bottom: 0px;
}
hr {
  width: 235px;
  margin-left: auto;
  background-color: #3F4246 ;
  margin-right: auto;
  opacity: .9;
}
.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  display: block;
  height: auto;
  width: 100%;
  padding: 0;
}
.file-header-top-end {
  margin-top: 0;
  margin-bottom: 0;
}
/* sas */
.card-container-right {
  display: inline;
  float: right;
}

.card-container-left {
  display: inline;
}
.card-container-right {
  display: inline;
  float: right;
}

.card-container-left {
  display: inline;
}
