<div class="row" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="card-titulo" style="text-align: center">
          ANEXO 4: Respuesta positiva a entidad receptora
        </div>
        <br />
        <br />

        <div class="card-encabezado" style="text-align: right">

          Cuenca, {{ today | date: "dd" }} de
          {{ today | date: "MMMM ":"-0500" }} del
          {{ today | date: "yyyy" }}
        </div>
        <br>

        <div style="text-align: left">

          Sr/Ing/Dr  <br>
          GERENTE/PROPIETARIO/JEFE DE PERSONAL, etc. <br>
          {{this.convocatoria.carrera.nombre}} <br>
          Su Despacho. -

          <br>
          <br>

          De mi consideración: <br>
          <br>
          En respuesta a su solicitud de fecha ……………. debo indicarle que luego haber realizado el proceso de selección
          entre los estudiantes postulantes se ha aceptado la solicitud de los siguientes estudiantes que están
          interesados en realizar sus prácticas pre profesionales en su prestigiosa empresa:
          <br>
          <br>

        </div>

        <h4 class="card-title text-center">
          Listado de Solicitudes Enviadas por Alumnos
        </h4>
        <div class="table-responsive">
          <div id="example23_wrapper" class="dataTables_wrapper">
            <div class="dt-buttons">
              <button routerLink="/dashboard/convocatorias" class="btn btn-primary btn-sm">
                <i class="mdi mdi-plus"></i>
                Convocatorias
              </button>
            </div>
            <div id="example23_filter" class="dataTables_filter">
              <label>Buscar:<input type="text" placeholder="" [(ngModel)]="busqueda" #txtBusqueda
                  (keyup)="cargarSolicitudesAlumnosDefault(txtBusqueda.value)" />
              </label>
              <button class="btn btn-primary btn-sm" (click)="buscar(txtBusqueda.value)" type="button">
                <i class="mdi mdi-magnify"></i>
              </button>
            </div>
            <div class="row" *ngIf="cargando">
              <div class="col-12">
                <div class="alert alert-info text-center" role="alert">
                  <h4 class="alert-heading">Cargando</h4>
                  <i class="fa fa-spin fa-refresh fa-2x"></i>
                  <p class="mb-0">Por favor espere...</p>
                </div>
              </div>
            </div>
            <div class="table-scroll">
              <table class="
                  table table-bordered
                  justify-content-center
                  table-responsive-sm table-sm
                  dataTable
                ">
                <thead>
                  <tr>
                    <th>Empresa</th>
                    <th>Actividades</th>
                    <th>Fecha Solicitud</th>
                    <th>Alumno</th>
                    <th>Promedio</th>
                    <th class="text-nowrap">Accion</th>

                </thead>

                <tbody class="animated fadeIn fast">
                  <tr *ngFor="let solicitudesAlumnos of alumnosXconvocatoria">
                    <td>{{ solicitudesAlumnos.convocatoria.solicitudEmpresa.empresa.nombre}}</td>
                    <td>{{ solicitudesAlumnos.convocatoria.solicitudEmpresa.actividades}}</td>
                    <td>{{ solicitudesAlumnos.fecha_emision }}</td>
                    <td>{{ solicitudesAlumnos.alumno.persona.primer_nombre }}
                      {{ solicitudesAlumnos.alumno.persona.segundo_nombre }}
                      {{ solicitudesAlumnos.alumno.persona.primer_apellido }}
                      {{ solicitudesAlumnos.alumno.persona.segundo_apellido }}</td>
                    <td>{{ solicitudesAlumnos.alumno.promedio_aprobado}}</td>
                    <td class="text-nowrap text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id={{solicitudesAlumnos.alumno.id}}>
                        <label class="form-check-label" for={{solicitudesAlumnos.alumno.id}}>
                          Elegir
                        </label>
                      </div>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-paginator [length]="totalRegistros" [pageSize]="totalPorPagina" [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="paginaActual" (page)="paginar($event)" showFirstLastButtons>
</mat-paginator>
<br>
<div class="card">
Solicito de la manera más comedida realizar la designación del tutor empresarial para cada uno de los <br>
estudiantes, el mismo que será quien oriente al estudiante dentro de la empresa durante el tiempo que realice
<br>
las prácticas pre profesionales.
<br>
<br>
Sin más que informar me despido agradeciendo de antemano su colaboración.
<br>
<br>

Atentamente,

______________________ <br>
Responsable de Prácticas Pre Profesionales <br>
CARRERA DE …………………….. <br>
INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY
</div>