<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form
                    #MyForm="ngForm"
                    (submit)="guardarSolicitudEmpresa(MyForm)"
                >
                    <div class="form-body">
                        <div
                            class="card-titulo"
                            style="text-align: center"
                        >
                        ANEXO 12.1: Certificado Empresa Receptora
                        </div>

                        <br>

                        <div
                            class="card-titulo"
                            style="text-align: center"
                        >
                            Evaluación de prácticas pre profesionales
                        </div>

                        <div class="card-text">
                            <!-- Cédula de identidad estudiante: -->
                            <!-- <div class="row">
                  <div class="col-md-10">
                    <ng-select
                      [compareWith]="compararResponsable"
                      name="responsablePPP"
                      placeholder="Seleccione al responsablePPP"
                      [(ngModel)]="solicitudEmpresa.responsablePPP"
                      #responsablePPP="ngModel"
                      required
                    >
                      <ng-option
                        *ngFor="let responsablePPP of responsablesPPP"
                        [value]="responsablePPP"
                      >
                        {{ responsablePPP.docente?.persona?.primer_nombre }}
                        {{ responsablePPP.docente?.persona?.primer_apellido }} -
                        {{ responsablePPP.carrera?.nombre }}
                      </ng-option>
                    </ng-select>
                    <div
                      class="text-danger"
                      *ngIf="responsablePPP.invalid && responsablePPP.touched"
                    >
                      Responsable de Practicas Pre Profesionales es requerido!
                    </div>
                  </div>
                </div> -->
                            <br>
                            {{ this.solicitudEmpresa.responsablePPP.carrera.nombre }}

                           
                            Cédula de identidad estudiante:
                            <div class="row">
                                   <div class="col-md-10">
                                    <td>
                                        <input
                                        class="form-control"
                                        name="actividad"
                                        required="required"
                                        />
                                    </td>
                                   </div>
                               </div>

                            <br>

                          
                            Estudiante:
                            <div class="row">
                                   <div class="col-md-10">
                                       <ng-select
                                       [compareWith]="compararResponsable"
                                       name="responsablePPP"
                                       placeholder="Seleccione al responsablePPP"
                                       [(ngModel)]="solicitudEmpresa.responsablePPP"
                                       #responsablePPP="ngModel"
                                       required
                                       >
                                       <ng-option
                                           *ngFor="let responsablePPP of responsablesPPP"
                                           [value]="responsablePPP"
                                       >
                                           {{ responsablePPP.docente?.persona?.primer_nombre }}
                                           {{ responsablePPP.docente?.persona?.primer_apellido }}
                                       </ng-option>
                                       </ng-select>
                                       <div
                                           class="text-danger"
                                           *ngIf="responsablePPP.invalid && responsablePPP.touched"
                                           >
                                           Responsable de Practicas Pre Profesionales es requerido!
                                       </div>
                                   </div>
                               </div>

                            <br>

                            
                            Empresa:
                            <div class="row">
                                   <div class="col-md-10">
                                    <ng-select
                                    [compareWith]="compararEmpresa"
                                    name="empresa"
                                    style="width: 500px"
                                    placeholder="Seleccione la empresa"
                                    [(ngModel)]="solicitudEmpresa.empresa"
                                    #empresa="ngModel"
                                    required="required"
                                >
                                    <ng-option
                                        *ngFor="let empresa of empresas"
                                        [value]="empresa"
                                    >{{ empresa.nombre }}</ng-option>
                                </ng-select>
                                       <div
                                           class="text-danger"
                                           *ngIf="responsablePPP.invalid && responsablePPP.touched"
                                           >
                                           Responsable de Practicas Pre Profesionales es requerido!
                                       </div>
                                   </div>
                               </div>

                            <br>
                      
                            Carrera:
                            <div class="row">
                                   <div class="col-md-10">
                                       <ng-select
                                       [compareWith]="compararResponsable"
                                       name="responsablePPP"
                                       placeholder="Seleccione al responsablePPP"
                                       [(ngModel)]="solicitudEmpresa.responsablePPP"
                                       #responsablePPP="ngModel"
                                       required
                                       >
                                       <ng-option
                                           *ngFor="let responsablePPP of responsablesPPP"
                                           [value]="responsablePPP"
                                       >
                                           {{ responsablePPP.carrera.nombre }}
                                       </ng-option>
                                       </ng-select>
                                       <div
                                           class="text-danger"
                                           *ngIf="responsablePPP.invalid && responsablePPP.touched"
                                           >
                                           Responsable de Practicas Pre Profesionales es requerido!
                                       </div>
                                   </div>
                               </div>
                            <br>
                            <br>
                            Valore el desempeño del Practicante, marcando y registrando la calificación en cada uno de los aspectos descritos utilizando los siguientes parámetros.
                (1) Deficiente     (5) Regular         (10) Bueno       (15) Muy bueno      (20) Sobresaliente
                             <br>
                            <br>
                            <thead>
                                <tr>
                                    <th>PARÁMETROS</th>

                                    <th>20</th>

                                    <th>15</th>

                                    <th>10</th>

                                    <th>5</th>

                                    <th>1</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>a.	Asistencia y Puntualidad.</td>

                                    <td>
                                        <input
                                            class="form-control"
                                            name="actividad"
                                            required="required"
                                        />
                                    </td>

                                    <td>
                                        <input
                                        class="form-control"
                                        name="actividad"
                                        required="required"
                                        />
                                    </td>
                                    <td>
                                        <input
                                            class="form-control"
                                            name="actividad"
                                            required="required"
                                        />
                                    </td>

                                    <td>
                                        <input
                                        class="form-control"
                                        name="actividad"
                                        required="required"
                                        />
                                    </td>

                                    
                                    <td>
                                        <input
                                        class="form-control"
                                        name="actividad"
                                        required="required"
                                        />
                                    </td>
                                </tr>
                            </tbody>
                            
                            <tbody>
                                <tr>
                                    <td>b.	Cumplimiento de normas establecidas por la entidad receptora.</td>

                                    <td>
                                        <input
                                            class="form-control"
                                            name="actividad"
                                            required="required"
                                        />
                                    </td>

                                    <td>
                                        <input
                                        class="form-control"
                                        name="actividad"
                                        required="required"
                                        />
                                    </td>
                                    <td>
                                        <input
                                            class="form-control"
                                            name="actividad"
                                            required="required"
                                        />
                                    </td>

                                    <td>
                                        <input
                                        class="form-control"
                                        name="actividad"
                                        required="required"
                                        />
                                    </td>

                                    
                                    <td>
                                        <input
                                        class="form-control"
                                        name="actividad"
                                        required="required"
                                        />
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>c.	Compromiso y responsabilidad frente al trabajo.</td>

                                    <td>
                                        <input
                                            class="form-control"
                                            name="actividad"
                                            required="required"
                                        />
                                    </td>

                                    <td>
                                        <input
                                        class="form-control"
                                        name="actividad"
                                        required="required"
                                        />
                                    </td>
                                    <td>
                                        <input
                                            class="form-control"
                                            name="actividad"
                                            required="required"
                                        />
                                    </td>

                                    <td>
                                        <input
                                        class="form-control"
                                        name="actividad"
                                        required="required"
                                        />
                                    </td>

                                    
                                    <td>
                                        <input
                                        class="form-control"
                                        name="actividad"
                                        required="required"
                                        />
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>d.	Integración y actitud de colaboración con los miembros del equipo de la empresa.</td>

                                    <td>
                                        <input
                                            class="form-control"
                                            name="actividad"
                                            required="required"
                                        />
                                    </td>

                                    <td>
                                        <input
                                        class="form-control"
                                        name="actividad"
                                        required="required"
                                        />
                                    </td>
                                    <td>
                                        <input
                                            class="form-control"
                                            name="actividad"
                                            required="required"
                                        />
                                    </td>

                                    <td>
                                        <input
                                        class="form-control"
                                        name="actividad"
                                        required="required"
                                        />
                                    </td>

                                    
                                    <td>
                                        <input
                                        class="form-control"
                                        name="actividad"
                                        required="required"
                                        />
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>e.	Valoración de los resultados tomando como base las actividades encomendadas al estudiante, así como su cumplimiento en los plazos establecidos.</td>

                                    <td>
                                        <input
                                            class="form-control"
                                            name="actividad"
                                            required="required"
                                        />
                                    </td>

                                    <td>
                                        <input
                                        class="form-control"
                                        name="actividad"
                                        required="required"
                                        />
                                    </td>
                                    <td>
                                        <input
                                            class="form-control"
                                            name="actividad"
                                            required="required"
                                        />
                                    </td>

                                    <td>
                                        <input
                                        class="form-control"
                                        name="actividad"
                                        required="required"
                                        />
                                    </td>

                                    
                                    <td>
                                        <input
                                        class="form-control"
                                        name="actividad"
                                        required="required"
                                        />
                                    </td>
                                </tr>
                            </tbody>
                            <br>
                            PUNTAJE TOTAL: 
                            <input
                            type="number"
                            class="form-control"
                            name="numero_alumnos"
                            style="width: min-content"
                            #numero_alumnos="ngModel"
                            min="1"
                            [(ngModel)]="solicitudEmpresa.numero_alumnos"
                            required
                          />
                            /100
                            <br>
                            NÚMERO DE HORAS TOTAL:  
                            <input
                            type="number"
                            class="form-control"
                            name="numero_alumnos"
                            style="width: min-content"
                            #numero_alumnos="ngModel"
                            min="1"
                            [(ngModel)]="solicitudEmpresa.numero_alumnos"
                            required
                          />
                          horas 
                            <br>
                            <br>
                            <!-- <input
                  type="number"
                  class="form-control"
                  name="numero_alumnos"
                  style="width: min-content"
                  #numero_alumnos="ngModel"
                  min="1"
                  [(ngModel)]="solicitudEmpresa.numero_alumnos"
                  required
                />
                <div
                  class="text-danger"
                  *ngIf="
                    numero_alumnos.hasError('required') && numero_alumnos.touched
                  "
                >
                  Numero de estudiantes es requerido!
                </div>
                Estudiantes para realizar las siguientes actividades
                <br />
                <br />
  
                <textarea
                  placeholder="Describa aqui las actividades a desarrollar"
                  class="form-control"
                  name="actividades"
                  rows="8"
                  #actividades="ngModel"
                  [(ngModel)]="solicitudEmpresa.actividades"
                  required
                >
                </textarea>
                <div
                  class="text-danger"
                  *ngIf="actividades.hasError('required') && actividades.touched"
                >
                  Actividades es requerido!
                </div>
                <br />
                La fecha de inicio tentativa es el
  
                <input
                  [matDatepicker]="myDatepicker"
                  style="width: min-content"
                  class="form-control"
                  name="fecha_inicio"
                  #fecha_inicio="ngModel"
                  [(ngModel)]="solicitudEmpresa.fecha_inicio"
                  required
                />
                <mat-datepicker-toggle
                  [for]="myDatepicker"
                ></mat-datepicker-toggle>
                <mat-datepicker color="blue" #myDatepicker></mat-datepicker>
                <div
                  class="text-danger"
                  *ngIf="
                    fecha_inicio.hasError('required') && fecha_inicio.touched
                  "
                >
                  Fecha es requerido!
                </div>
                <br />
                <br />
                .Solicito comedidamente se me informe si esta petición es viable,
                y en caso de serlo, se me haga conocer el listado de estudiantes
                que podrían ingresar a la empresa.
                <br />
                <br />
                Agradezco de antemano la atención que brinde a la presente. -->

                            <div class="card-pie">
                                <!-- Nombre Tutor Empresarial
                                     Tutor Empresarial
                                    -->
                                <br>
                                <br>
                                ______________________

                                <br>

                                Nombre Tutor Empresarial
                             <div class="row">
                                    <div class="col-md-10">
                                        <ng-select
                                        [compareWith]="compararResponsable"
                                        name="responsablePPP"
                                        placeholder="Seleccione al responsablePPP"
                                        [(ngModel)]="solicitudEmpresa.responsablePPP"
                                        #responsablePPP="ngModel"
                                        required
                                        >
                                        <ng-option
                                            *ngFor="let responsablePPP of responsablesPPP"
                                            [value]="responsablePPP"
                                        >
                                            {{ responsablePPP.docente?.abreviatura_titulo }}
                                            {{ responsablePPP.docente?.persona?.primer_nombre }}
                                            {{ responsablePPP.docente?.persona?.primer_apellido }}
                                        </ng-option>
                                        </ng-select>
                                        <div
                                            class="text-danger"
                                            *ngIf="responsablePPP.invalid && responsablePPP.touched"
                                            >
                                            Responsable de Practicas Pre Profesionales es requerido!
                                        </div>
                                    </div>
                                </div>
                        </div>
                        </div>

                        <div
                            class="form-actions"
                            style="text-align: right"
                        >
                            <button
                                type="submit"
                                class="btn btn-primary mr-2"
                            >Guardar</button>

                            <button
                                type="button"
                                class="btn btn-danger"
                                (click)="irListaSolicitudesEmpresas()"
                            >Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>