<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4>Actas</h4>
        <div class="table-scroll">
          <table class="
                table table-bordered
                justify-content-center
                table-responsive-sm table-sm
                dataTable
              " *ngIf="actas.length > 0">
            <thead>
              <tr>

                <th>Id Acta</th>
                <th>Fecha</th>


              </tr>
            </thead>

            <tbody class="animated fadeIn fast">
              <tr *ngFor="let acta of actas">
                <td>
                  {{ acta.id}}
                </td>
                <td>
                  {{ acta.fecha_emision}}
                </td>
                <td>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>