<div class="row" *ngIf="!cargando">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">
            Listado de Solicitudes de las Empresas Vinculadas
          </h4>
          <div class="table-responsive">
            <div id="example23_wrapper" class="dataTables_wrapper">
              <div class="dt-buttons">
              <button routerLink="/dashboard/nueva-solicitud-empresa" class="btn btn-primary btn-sm">
                  <i class="mdi mdi-plus"></i>
                  Nueva Solicitud
                </button>
              </div>
              <div id="example23_filter" class="dataTables_filter">
                <label>Buscar:<input type="text" placeholder="" [(ngModel)]="busqueda" #txtBusqueda
                    (keyup)="cargarSolicitudesEmpresasDefault(txtBusqueda.value)" />
                </label>
                <button class="btn btn-primary btn-sm" (click)="buscar(txtBusqueda.value)" type="button">
                  <i class="mdi mdi-magnify"></i>
                </button>
              </div>
              <div class="row" *ngIf="cargando">
                <div class="col-12">
                  <div class="alert alert-info text-center" role="alert">
                    <h4 class="alert-heading">Cargando</h4>
                    <i class="fa fa-spin fa-refresh fa-2x"></i>
                    <p class="mb-0">Por favor espere...</p>
                  </div>
                </div>
              </div>
              <div class="table-scroll">
                <table class="
                    table table-bordered
                    justify-content-center
                    table-responsive-sm table-sm
                    dataTable
                  ">
                  <thead>
                    <tr>
                      <th>Código</th>
                      <th>Empresa</th>
                      <th>Fecha Inicio PPP</th>
                      <th>Actividades</th>
                      <th>Nª Alumnos</th>
                      <th>Carrera</th>
                      <th>ResponsablePPP</th>
                     <!-- <th class="text-nowrap">Accion</th> .. Aqui iría ver la solicitud completa  -->
                    </tr>
                  </thead>

                  <tbody class="animated fadeIn fast">
                    <tr *ngFor="let solicitudEmpresa of solicitudesEmpresas">
                      <td>{{ solicitudEmpresa.empresa.id }}</td>
                      <td>{{ solicitudEmpresa.empresa.nombre }}</td>
                      <td>{{ solicitudEmpresa.fecha_inicio }}</td>
                      <td>{{ solicitudEmpresa.actividades }}</td>
                      <td>{{ solicitudEmpresa.numero_alumnos }}</td>
                      <td>
                        {{ solicitudEmpresa.responsablePPP.carrera.nombre }}
                      </td>
                      <td>
                        {{
                        solicitudEmpresa.responsablePPP.docente
                        .abreviatura_titulo
                        }}
                        {{
                        solicitudEmpresa.responsablePPP.docente.persona
                        .primer_nombre
                        }}
                        {{
                        solicitudEmpresa.responsablePPP.docente.persona
                        .primer_apellido
                        }}
                      </td>
                    <!-- <td class="text-nowrap text-center">
                        <a [routerLink]="[
                            '/dashboard',
                            'nueva-convocatoria',
                            solicitudEmpresa.id
                          ]" data-toggle="tooltip" data-original-title="Crear Convocatoria" class="cursor"
                          title="Generar Convocatoria">
                          <i class="mdi mdi-book-open m-r-10"></i>
                        </a>
                      </td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-paginator [length]="totalRegistros" [pageSize]="totalPorPagina" [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="paginaActual" (page)="paginar($event)" showFirstLastButtons>
  </mat-paginator>
