<form>
    <div class="card-body">
        <div class="card-titulo" style="text-align: center;">
            ANEXO 3: Solicitud Estudiante

        </div>
        <br>
        <br>

        <div class="card-encabezado" style="text-align: right;">


            <br>
            Cuenca, {{today | date:'dd'}} de {{today | date:'MMMM ':'-0500'}} del {{today | date:'yyyy'}}
        </div>
        <div class="card-destinatario">
            Magíster<br>
            <select class="form-control" style="width: auto;" name="docente">
                <option>Seleccione el docente</option>
                <option *ngFor="let docente of docentes">
                    {{ docente.persona.primer_nombre }}
                    {{ docente.persona.segundo_nombre }}
                    {{ docente.persona.primer_apellido }}
                    {{ docente.persona.primer_apellido }} </option>
            </select>
            <br> RESPONSABLE DE PRÁCTICAS PRE PROFESIONALES DE LA CARRERA DE
            <select class="form-control" style="width: auto;" name="CombocatoriaCarrera">
                <option [ngValue]="undefined"> Seleccione la carrera </option>
                <option *ngFor="let carrera of carreras">{{carrera.nombre}}</option>
            </select>
            <br> INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY
            <br> Su Despacho. -

            <div class="card-text">

                <br />
                <br /> De mi consideración: Por medio de la presente, Yo
                <select class="form-control" style="width: auto;" name="empresa">
                    <option [ngValue]="undefined"> Seleccione el estudiante </option>
                    <option *ngFor="let empresa of empresas">{{empresa.nombre}}</option>
                </select>
                con número de cédula
                estudiante del
                <select class="form-control" style="width: auto;" name="ciclo">
                    <option [ngValue]="undefined"> Seleccione el ciclo </option>
                    <option *ngFor="let ciclo of empresas">{{ciclo.nombre}}</option>
                </select>
                ciclo paralelo

                del periodo académico Abril 2020 - Octubre 2020 de la carrera de
                <select class="form-control" style="width: auto;" name="CombocatoriaCarrera">
                    <option [ngValue]="undefined"> Seleccione la carrera </option>
                    <option *ngFor="let carrera of carreras">{{carrera.nombre}}</option>
                </select>
                solicito comedidamente se autorice mi postulación para realizar las 240 horas de prácticas pre
                profesionales en la empresa
                <select class="form-control" style="width: auto;" name="empresa">
                    <option [ngValue]="undefined"> Seleccione la empresa </option>
                    <option *ngFor="let empresa of empresas">{{empresa.nombre}}</option>
                </select>
                según solicitud CONVOCATORIA
                <select class="form-control" style="width: auto;" name="docente">
                    <option>Seleccione convocatoria</option>
                    <option *ngFor="let docente of docentes">
                    </option>
                </select>
            </div>
        </div>
    </div>
</form>