<form>
    <div class="card-body">
        <div class="card-titulo" style="text-align: center;">
            ANEXO 3: Solicitud Estudiante

        </div>
        <br>
        <br>

        <div class="card-encabezado" style="text-align: right;">


            <br>
            Cuenca, {{today | date:'dd'}} de {{today | date:'MMMM ':'-0500'}} del {{today | date:'yyyy'}}
        </div>
        <div class="card-destinatario">
            {{
                convocatoria.solicitudEmpresa.responsablePPP.docente
              .abreviatura_titulo
              }}
            <br>
            {{
                convocatoria.solicitudEmpresa.responsablePPP.docente.persona
                .primer_nombre
                }}	
                {{
                  convocatoria.solicitudEmpresa.responsablePPP.docente.persona
                .primer_apellido
                }}
  
            <br> RESPONSABLE DE PRÁCTICAS PRE PROFESIONALES DE LA CARRERA DE
            {{convocatoria.carrera.nombre }}
            <br> INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY
            <br> Su Despacho. -

            <div class="card-text">

                <br />
                <br /> De mi consideración: Por medio de la presente, Yo
                {{this.user.persona.primer_nombre}}
                {{this.user.persona.segundo_nombre}}
                {{this.user.persona.primer_apellido}}
                {{this.user.persona.segundo_apellido}}
                con número de cédula 
                {{this.user.username}}
                estudiante del
                {{convocatoria.ciclo }}
                ciclo paralelo 

                del periodo académico Abril 2020 - Octubre 2020 de la carrera de
                {{convocatoria.carrera.nombre }}
                solicito comedidamente se autorice mi postulación para realizar las 240 horas de prácticas pre
                profesionales en la empresa
                {{ convocatoria.solicitudEmpresa.empresa.nombre }}
                según solicitud CONVOCATORIA
                {{convocatoria.id }}
                <br>
                <br> Acepto realizar el proceso de selección determinado por la empresa 
                receptora y en caso de ser elegido, me comprometo a cumplir con la normativa 
                de la empresa, presentar los requisitos solicitados por el Instituto Superior 
                Tecnológico del Azuay como prueba de las actividades realizadas y demostrar 
                profesionalismo, dedicación y honestidad en todo momento, dejando en alto el
                nombre de la institución educativa y colaborando en el fortalecimiento de la
                empresa receptora que me brinda la posibilidad de formarme en sus instalaciones.
                <br>
                <br>Sin más que informar me despido agradeciendo de antemano su colaboración.
            </div>
            <div class="card-pie">
                <br>
                <br> Atentamente,
                <br>
                <br> ______________________ 
                <br> Nombre: 
                {{this.user.persona.primer_nombre}}
                {{this.user.persona.segundo_nombre}}
                {{this.user.persona.primer_apellido}}
                {{this.user.persona.segundo_apellido}}
                <br> Telefono:
                {{this.user.persona.celular}}
                
                <br> Correo:
                {{this.user.persona.email}}
            </div>
        </div>
    </div>
</form>
<div class="card-botones" style="text-align: right;">

    <button type="button" class="btn btn-primary" (click)="llamarUsuario()">Guardar Solicitud </button>
    <button type="button" class="btn btn-inverse mr-2">Cancelar </button>
</div>