<div class="row"   >
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form #MyForm="ngForm" (submit)="guardarResponsable(MyForm)">
            <div class="form-body">
               <h3 class="card-title"> Responsable de Practicas Preprofesionales </h3>
               <hr />
              <!--/row-->
             <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Docentes *</label>
                    <ng-select
                      [compareWith]="compararDocente"
                      name="docente"
                      placeholder="Seleccione al docente (a)"
                      #docente="ngModel"
                      [(ngModel)]="responsableppp.docente"
                      required
                    >
                      <ng-option
                        *ngFor="let docente of docentes"
                        [value]="docente"
                      >
                        {{ docente.abreviatura_titulo }}
                        {{ docente.persona.primer_nombre }}
                        {{ docente.persona.segundo_nombre }}
                        {{ docente.persona.primer_apellido }}
                        {{ docente.persona.segundo_apellido }}
                      </ng-option>
                    </ng-select>
  
                    <div *ngIf="docente.hasError('required') && docente.touched">
                      Docentes es requerido!
                    </div>
                  </div>
                </div>
              </div>

                 <!--/row-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Carrera*</label>
                  <ng-select
                    [compareWith]="compararCarrera"
                    name="carrera"
                    placeholder="Seleccione la Carrera"
                    #carrera="ngModel"
                    [(ngModel)]="responsableppp.carrera"
                    required
                  >
                    <ng-option
                      *ngFor="let carrera  of carreras"
                      [value]="carrera"
                    >
                      {{ carrera.nombre }}
                    </ng-option>
                  </ng-select>

                  <div class="text-danger" *ngIf="carrera.hasError('required') && carrera.touched" >
                    Docentes es requerido!
                  </div>
                </div>
              </div>
            </div>
             <!--/row-->

            <hr />
            <div class="form-actions">
              <button type="submit" class="btn btn-success mr-2"><i class="fa fa-check"></i> Guardar </button>
              <button type="button" class="btn btn-inverse" (click)="irListaResponsablePPP()"> Cancelar </button>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
 </div>

