<form>
  <div class="card-body">
    <div class="card-titulo" style="text-align: center;">
      ANEXO 2: Convocatoria a prácticas pre profesionales
    </div>
    <br>
    <br>

    <div class="card-encabezado" style="text-align: right;">
      CONVOCATORIA
      <select>
        <option *ngFor="let carrera of carreras">{{carrera.nombre}}</option>
      </select> 20xx – 00#<br /> Cuenca, de
      <select>
        <option>Enero</option>
        <option>Analisis</option>
      </select> del 20xx
    </div>


    <div class="card-text">



      A los estudiantes Interesados:<br /> <br /> Se convoca a los estudiantes de
      <select>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select> ciclo de la carrera
      <select>
        <option *ngFor="let carrera of carreras">{{carrera.nombre}}</option>
      </select> que deseen realizar sus prácticas pre profesionales en la empresa <select>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>, a presentar la solicitud correspondiente. Las actividades a desarrollar son:
      <select>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>, por lo que los postulantes deberán haber aprobado las siguientes asignaturas: <select>
        <option>web</option>
        <option>movil</option>
        <option>3</option>
        <option>4</option>
      </select> La fecha máxima en la que se receptarán las solicitudes es el <input id="date" type="date">. Para mayor
      información contactarse con
      <select>
        <option *ngFor="let docente of docentes">
          {{ docente.persona.primer_nombre }}
          {{ docente.persona.segundo_nombre }}
          {{ docente.persona.primer_apellido }}
          {{ docente.persona.primer_apellido }}


        </option>
      </select>, docente responsable de prácticas pre profesionales de la carrera.


      <div class="card-pie">

        Atentamente,
        <br>
        <br> ______________________ <br> Responsable de Prácticas Pre Profesionales <br> CARRERA DE
        <select>
          <option *ngFor="let carrera of carreras">{{carrera.nombre}}</option>
        </select>
        <br>INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY
      </div>
    </div>
  </div>

</form>
<div class="card-botones" style="text-align: right;">

  <button type="button" class="btn btn-primary">Guardar </button>
  <button type="button" class="btn btn-success">Generar PDF</button>
</div>