<div class="row">
  <div class="col-12" >
    <div class="card">
      <div class="card-body">
        <form #MyForm="ngForm" (submit)="guardarConvocatoria(MyForm)">
          <div class="form-body">

              <div class="card-titulo" style="text-align: center">
                ANEXO 2: Convocatoria a prácticas pre profesionales
              </div>
              <br />
              <br />

              <div class="card-encabezado" style="text-align: right" id="todo-Cuerpo">
                CONVOCATORIA -

                {{ this.solicitudEmpresa.responsablePPP.carrera.abreviatura }}
                - {{ today | date: "yyyy" }} -

                {{ ultimoElemento }}

                <br />
                Cuenca, {{ today | date: "dd" }} de
                {{ today | date: "MMMM ":"-0500" }} del
                {{ today | date: "yyyy" }}
              </div>
              <div class="card-text">
                A los estudiantes Interesados:<br />
                <br />
                Se convoca a los estudiantes de

                <select
                  class="form-control"
                  style="width: min-content"
                  name="ciclo"
                  #ciclo="ngModel"
                  [(ngModel)]="convocatoria.ciclo"
                  required
                >
                  <option [ngValue]="undefined">Ciclo</option>

                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>

                </select>
                <div
                  class="text-danger"
                  *ngIf="ciclo.hasError('required') && ciclo.touched"
                >
                  Ciclo es requerido!
                </div>
                ciclo de la carrera

                {{ this.solicitudEmpresa.responsablePPP.carrera.nombre }}
                que deseen realizar sus prácticas pre profesionales en la
                empresa

                {{ this.solicitudEmpresa.empresa.nombre }}
                , a presentar la solicitud correspondiente.<br />
                Las actividades a desarrollar son:

                <textarea
                  placeholder="Describa aqui las actividades a desarrollar"
                  class="form-control"
                  name="actividades"
                  rows="8"
                  #actividades="ngModel"
                  [(ngModel)]="convocatoria.actividades"
                  required
                >
                </textarea>
                <div
                  class="text-danger"
                  *ngIf="
                    actividades.hasError('required') && actividades.touched
                  "
                >
                  Actividades es requerido!
                </div>

                por lo que los postulantes deberán haber aprobado las siguientes
                asignaturas:

                <textarea
                  placeholder="Describa aquí las asignaturas que deberian haber aprobado"
                  class="form-control"
                  name="asignaturas"
                  rows="8"
                  #asignaturas="ngModel"
                  [(ngModel)]="convocatoria.asignaturas"
                  required
                ></textarea>
                <div
                  class="text-danger"
                  *ngIf="
                    asignaturas.hasError('required') && asignaturas.touched
                  "
                >
                  Asignaturas es requerido!
                </div>

                La fecha máxima en la que se receptarán las solicitudes es el

                <input
                  [matDatepicker]="myDatepicker"
                  style="width: min-content"
                  class="form-control"
                  name="fecha_max_recib_solic"
                  #fecha_max_recib_solic="ngModel"
                  [(ngModel)]="convocatoria.fecha_max_recib_solic"
                  required
                />
                <mat-datepicker-toggle
                  [for]="myDatepicker"
                ></mat-datepicker-toggle>
                <mat-datepicker color="blue" #myDatepicker></mat-datepicker>
                <div
                  class="text-danger"
                  *ngIf="
                    fecha_max_recib_solic.hasError('required') &&
                    fecha_max_recib_solic.touched
                  "
                >
                  Fecha es requerido!
                </div>
                . Para mayor información contactarse con
                {{
                  this.solicitudEmpresa.responsablePPP.docente
                    .abreviatura_titulo
                }}
                {{
                  this.solicitudEmpresa.responsablePPP.docente.persona
                    .primer_nombre
                }}
                {{
                  this.solicitudEmpresa.responsablePPP.docente.persona
                    .primer_apellido
                }}
                , docente responsable de prácticas pre profesionales de la
                carrera.
                <br />
                <br />

                <div class="card-pie">
                  Atentamente,
                  <br />
                  <br />
                  {{ this.solicitudEmpresa.responsablePPP.docente.persona.primer_nombre }}<br>
                  {{ this.solicitudEmpresa.responsablePPP.docente.persona.segundo_nombre }}<br>
                  {{ this.solicitudEmpresa.responsablePPP.docente.persona.primer_apellido }}<br>
                  {{ this.solicitudEmpresa.responsablePPP.docente.persona.segundo_apellido }}<br>
                  ______________________ <br />
                  Responsable de Prácticas Pre Profesionales <br />
                  CARRERA DE
                  {{ this.solicitudEmpresa.responsablePPP.carrera.nombre }}

                  <br />INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY
                </div>
              </div>

              <div class="form-actions" style="text-align: right">
                
                
                <button type="button" class="btn btn-danger" (click)="exportPdf()" style= "margin-right: 10px;">
                  Generar PDF
                </button>

                
                <button type="button" class="btn btn-inverse " (click)="irListaSolicitudes()" style= "margin-right: 10px;">
                  Cancelar
                </button>
                
                <button type="submit" class="btn btn-primary mr-2">
                  Guardar
                </button>
             
              </div>
            </div>
            </form>
      </div>
    </div>
  </div>
</div>
