<div>
    <h1  style="text-align:center">Bienvenidos</h1> <br>
<h1  style="text-align:center">Instituto Superior Tecnologico  del Azuay</h1> <br>
<img src="../assets/images/foto.png">
<br><br><br>
<ul> 
   	<li> Desarrolladores  
   	<ol> 
            <li>JOSE ANDRES BERMEO SUQUILANDA
            <li>LINA MERCEDES ORELLANA YUNGAICELA
            <li>ROSA VIRGINIA TIRADO ARPI
            <li>GRACE ELSA MENDIETA VILELA
            <li>EDISON EDUARDO  COBOS CARDENAS
            <li>ROY ESTIVEN MOROCHO QUISHPI
            <li>ISAÍAS CORNELIO  RODRIGUEZ VALVERDE
            <li>CHRISTIAN EDUARDO CAGUANA MERCHAN
            <li>EDWIN JAVIER HUIRACOCHA MOROCHO
            
   	</ol> 
</ul>



</div>
