<div>
    <h1  style="text-align:center">Bienvenidos</h1> <br>
<h1  style="text-align:center">Instituto Superior del Azuay</h1> <br>
<img src="https://scontent.fcue2-1.fna.fbcdn.net/v/t39.30808-6/242548634_1070861113658634_5514923618179164159_n.png?_nc_cat=111&ccb=1-5&_nc_sid=e3f864&_nc_eui2=AeEw-tko06ivPN_yusnTBO2vDNG89hwwTrcM0bz2HDBOtxpFYgwb7CIU-eOBl3pIZPBSMyI0bZuJ-ZOisWBHWgge&_nc_ohc=bb3Q8St5YI8AX9DVz8t&_nc_ht=scontent.fcue2-1.fna&oh=00_AT8v7Uymp0C5Ul2YA79hUJSIDvir-zezAf3BjI9gc7dlLw&oe=61CE0D63">
<br><br><br>
<ul> 
   	<li> Desarrolladores  
   	<ol> 
            <li>JOSE ANDRES BERMEO SUQUILANDA
            <li>LINA MERCEDES ORELLANA YUNGAICELA
            <li>ROSA VIRGINIA TIRADO ARPI
            <li>GRACE ELSA MENDIETA VILELA
            <li>EDISON EDUARDO  COBOS CARDENAS
            <li>ROY ESTIVEN MOROCHO QUISHPI
            <li>ISAÍAS CORNELIO  RODRIGUEZ VALVERDE
            <li>CHRISTIAN EDUARDO CAGUANA MERCHAN
            <li>EDWIN JAVIER HUIRACOCHA MOROCHO
            
   	</ol> 
</ul>



</div>
