<mat-card class="mat-elevation-z8">
    <div class="row">
        <div class="col-md-9">
            <mat-form-field>
                <mat-label>Filtrar</mat-label>
                <input matInput #inputFilter placeholder="Ex. Tec" #input>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <mat-label>Estado de procesos</mat-label>
                <mat-select (selectionChange)="changeStatus(select.value)" #select [ngStyle]="currentStatus.styleSelect" [(value)]="selected">
                    <mat-option>Ninguno</mat-option>
                    <mat-option [ngStyle]="estado.style" *ngFor="let estado of status" [value]='estado'>
                        <span [ngStyle]="estado.style">
                            {{estado.name}}
                        </span>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <mat-card-content>
        <div class="example-container">
            <div class="example-table-container">
            </div>
            <mat-paginator #paginatorshowFirstLastButtons aria-label="Select page">
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>

<!--
<ng-container [ngSwitch]="select.value?.name">
    <div *ngFor="let estado of status">
        <span [ngStyle]="estado.style" *ngSwitchCase="estado.name">{{estado.name}}</span>
    </div>
</ng-container> -->