.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  overflow: auto;
}

table {
  width: 100%;
}

::ng-deep .mat-sort-header-container {
  display: flex;
  padding: 10px !important;
  justify-content: center;
}

.mat-header-cell,
.mat-cell {
  padding: 10px !important;
  text-align: center !important;
  font-size: medium;
}

th,
td {
  /* padding: 10px !important; */
  text-align: center !important;
  font-size: medium;
}

.mat-header-cell {
  font-weight: bold;
}

.mat-column-id {
  font-weight: bold;
  color: #757575;
}

.mat-form-field {
  width: 100%;
}

.mat-icon {
  vertical-align: middle;
}

.mat-icon-button {
  font-size: 20px !important;
}

/* .not-empty-select.mat-selected {
    font-size: 22px !important;
}

:host/deep/.mat-select-value-text {
  font-size: 22px !important;
} */
/* :host/deep/.mat-select-value-text  {
    font-size:890px; /* NO Left and right padding*/
    /* padding: 6px 10px 6px 10px ;   10px left and right padding
}
 */