<mat-card class="mat-elevation-z8">
    <div class="row">
        <div class="col-md-10">
            <mat-form-field>
                <mat-label>Filtrar</mat-label>
                <input matInput #inputFilter placeholder="Ex. Tec" #input>
            </mat-form-field>
        </div>
        <div class="col-md-2">
            <mat-form-field >
                <mat-label>Estado de procesos</mat-label>
                <mat-select  [ngStyle]="currentStatus.styleSelect" (selectionChange)="changeStatus(select.value)" #select [(value)]="selected">
                    <mat-select-trigger [ngStyle]="currentStatus.styleSelect">
                        {{currentStatus.name}}
                    </mat-select-trigger>
                    <mat-option>Ninguno</mat-option>
                    <mat-option *ngFor="let estado of status" [ngStyle]="estado.style" [value]='estado'>
                            <strong>{{estado.name}}</strong>
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
    </div>
    <mat-card-content>
        <div class="example-container">
            <div class="example-table-container">
            </div>
            <mat-paginator #paginatorshowFirstLastButtons aria-label="Select page">
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>

<!--
<ng-container [ngSwitch]="select.value?.name">
    <div *ngFor="let estado of status">
        <span [ngStyle]="estado.style" *ngSwitchCase="estado.name">{{estado.name}}</span>
    </div>
</ng-container> -->
